body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #b3c9cd;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    font-weight: bold;
    display: block;
}
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="quadradaButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="quadradaButton"]:hover {
    background-color: #45a049;
}

input[type="retangularButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="retangularButton"]:hover {
    background-color: #45a049;
}

input[type="circularButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="circularButton"]:hover {
    background-color: #45a049;
}

input[type="triangularButton"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type="triangularButton"]:hover {
    background-color: #45a049;
}

button {
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opcoes-adicionais {
    display: none;
}