.cadastro-container {
  width: 100%;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 5%;
  border-radius: 0px 40px 0 0;
}

.login-text-box{
  font-size: 1.1em;
  height: 30px;

}

h3{
  color: #fff;
  font-family: 'Orbitron';
}

.peca-inputs{
  display: none;
  flex-direction: column;
  gap:15px;
  font-size: 1.1em;
  color: #fff;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.peca-inputs input{
  height: 30px;
  font-size: 1.2em;
}


.select-element{
  font-size: 1.1em;
  font-family: Orbitron;
  width: 300px;
  height: 30px;
  margin-bottom: 3%;
  margin-top: 3%;
}


.cadastro-elementos .cadastro-sub-partes{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Orbitron;
  gap:10px;

}

.sub-pecas-adicionadas{
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 1%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;
}

.novo-calculo{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;

}

.sub-peca{
  background-color: rgb(100, 100, 100);
  margin-bottom: 2%;
  padding: 3%;
}
.sub-pecas-final{
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 1%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;
}

.materiais-e-custos{
  color:#fff;
}

.materiais-e-custos-item{
  background-color: rgba(189, 189, 189, 0.5);
  margin: 10px;
  padding: 10px;
  font-family: "Orbitron";
}

.materiais-e-custos-item-input{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.materiais-e-custos-item-input * {

  font-size: 1em;
  font-family: 'Orbitron';
}

.input-volume{
  font-family:"Orbitron";
  padding: 5px;
}

.box-materiais-e-custos{
  background-color: #3d3d3d; 
  padding: 20px;
  margin-top: 10px;
  border: 1px #000 dashed;
}

.btn-calculo{
  background-color: #c0c4d2;
  align-items: self-end;
  color: black;
  width: 100%;
  font-size: 1.1em;
}