.cadastro-container {
  width: 100%;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 5%;
  border-radius: 0px 40px 0 0;
}

.login-text-box{
  font-size: 1.1em;
}

.peca-inputs{
  font-size: 1.1em;
  color: #fff;
  display: none;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.select-element{
  font-size: 1.1em;
  font-family: Orbitron;
}

.cadastro-elementos .cadastro-sub-partes{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Orbitron;
  gap:10px;

}