.cadastro-container {
  width: 100%;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 5%;
  border-radius: 0px 40px 0 0;
}

.login-text-box{
  font-size: 1.1em;
}

.peca-inputs{
  display: none;
  flex-direction: column;
  gap:15px;
  font-size: 1.1em;
  color: #fff;
  background-color: rgba(98, 98, 98, 0.8);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.select-element{
  font-size: 1.1em;
  font-family: Orbitron;
}

.cadastro-elementos .cadastro-sub-partes{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: Orbitron;
  gap:10px;

}

.sub-pecas-adicionadas{
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 1%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;
}

.novo-calculo{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;

}

.sub-peca{
  background-color: rgb(100, 100, 100);
  margin-bottom: 2%;
  padding: 3%;
}
.sub-pecas-final{
  background-color: rgba(189, 189, 189, 0.5);
  padding: 2%;
  margin-bottom: 1%;
  margin-bottom: 2%;
  border: dashed 1px #fff;
  color: #fff;
}