@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.div-container {
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    margin-top: -8%;

}

.containerGeral {
    background-image: url("../images/bg1.jpg");
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-right: 100px;
}

.layout-container {
    background-color: rgba(98, 98, 98, 0.8);
    border-radius: 5px 90px 5px 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 10%;
    margin-top: -19%;
    font-family: "Orbitron";
    height: 85vh;
    width: 25vw;
    margin-left: 100px;
}

.cadastro-container {
    background-color: rgba(98, 98, 98, 0.76);
    border-radius: 5px 90px 5px 5px;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 10%;
    margin-top: -2%;
    font-family: "Orbitron";
    padding: 2%;
}

.containerMetais {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.containerMetal,
.valorMetal {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.containerMaoDeObra {
    display: flex;
    flex-direction: row;
}

.containerMaquina {
    display: flex;
    flex-direction: row;
    width: 150px;
}

.container3d {
    flex-direction: column;
    margin-top: 22%;
}

.parts-3d {
    width: 40vw;
    height: 60vh;
}


.logoCalculoPreciso {
    width: 150px;
    margin-top: 10%;
    align-items: center;
    margin-left: 25%;
}

.button {
    position: relative;
    left: -10;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -10;
}

.login-text-box {
    width: 100%;
}


.btn {
    background-color: #C0C4D2;
    border: none;
    color: #fff;
    padding: 10px 10px;
    /* Ajuste para metade do tamanho */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    /* Ajusta apenas os cantos à direita */
    margin-bottom: 10%;
    width: 50%;
    /* Metade do tamanho */
    float: left;
    /* Fixa à esquerda */
    position: flex;
    left: -10;
    font-family: "Orbitron";
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 15px 40px;*/
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    margin-bottom: 10%;
    bottom: -10%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-direction: column;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the header */
header {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    border: 0;
    padding-top: 10px;
}

.btn1 {
    background-color: #C0C4D2;
    border: none;
    color: #fff;
    padding: 10px 10px;
    /* Ajuste para metade do tamanho */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
    /* Ajusta apenas os cantos à direita */
    margin-bottom: 10%;
    width: 50%;
    /* Metade do tamanho */
    float: right;
    /* Fixa à esquerda */
    position: flex;
    right: -10;
    font-family: "Orbitron";
    align-self: flex-end;
}

.btn1:link,
.btn1:visited {
    text-transform: uppercase;
    text-decoration: none;
    /*padding: 15px 40px;*/
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: absolute;
    margin-bottom: 10%;
    bottom: -10%;
}

.btn1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1-white {
    background-color: #fff;
    color: #777;
}

.btn1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn1-white::after {
    background-color: #fff;
}

.btn1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn1-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.containerPeca3d {
    display: flex;
    margin: 5%;
    padding: 20px;
    border-radius: 5px 5px 5px 90px;
}