/* Estilos para a tabela de dados */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: gray;
}

thead {
    background-color: rgba(98, 98, 98, 0.8);
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #848484;
}

tr:hover {
    background-color: #848484;
}

.body-container-historico {
    background-image: url("../images/bg3.jpg");
    margin-left: 0;
    margin-top: 0px;

}