@media (max-width: 700px) {
    .login-container {
        background-color: rgba(98, 98, 98, 0);
        margin-left: 5%;
        margin-right: 3%;
        width: 100%;
        height: auto;
    }

    .logoCalculoPreciso {
        width: 80%;
    }

    .login-form {
        width: 100vw;
        font-size: 1em;
    }

    .buttons-container {
        width: 100%;
    }
}